*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header{
    background-color: grey;
    width:100vw;
    flex: 1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    border: 2px solid rgba(0, 0, 0, 0.514);
    box-shadow: 0 0 20px inset;
}

header p, .results-container p, .play-again{
    background:linear-gradient( bisque, rgb(75, 69, 69));
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 30px;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.buttons-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(92, 85, 85);
    width:100vw;
    height:20vw;
    flex:2;
    flex-wrap: wrap;
    min-height: fit-content + 50px;
}

.buttons-container button{
    border-radius: 15px;
    padding:10px;
    font-size: 10vw;
    height:fit-content;
    background-color: rgb(49, 46, 46);
    border:none;
    transition: scale 0.5s;
    box-shadow: 0 0 10px;
    min-width:100px;
}

.winner-result-container{
    display:flex;
    gap:20px;
}

.buttons-container button:hover{
    cursor:pointer;
    scale: 1.1;
}

.results-container{
    box-shadow: 0 0 20px inset;
    width:100vw;
    flex:3;
    background-color: bisque;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.scores{
    display: flex;
    justify-content: space-between;
    gap:30px;
    min-width:200px;
}

.hidden{
    display:none;
}

.result{
    min-width:200px;
}

.play-again{
    padding:20px;
    font-size:5vw;
    z-index: 1;
    transition: scale 0.5s;
}

.play-again:hover{
    cursor:pointer;
    scale:1.1;
}

.winner{
    color: green;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

a{
    position:absolute;
    left:10px;
    bottom:10px;
    text-decoration: none;
    color:rgb(190, 190, 39);
    font-size:20px;
}
